.banner{
    height: 50vh;
    background: url("https://img3.goodfon.com/original/1920x1200/f/82/forest-house-snow-winter.jpg") center center;
    height: 80vh;
    position: relative;
}
.search{
    display: flex;
    flex-direction: column;
}
.info {
    color: white;
    padding-top: 5vh;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 40px;
    width: 300px;
}
.info > h5 {
    margin-top: 10px;
}
.info > button{
    background-color: white;
    text-transform: inherit;
    margin-top: 20px;
}

.info > button:hover {
    background-color:#FF5A5F;
}
.selectDatesBtn{
    background-color: white !important;
    max-width: 850px;
}